
body {
    background-color: gray;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.Title{
    height: 0px;
    top: 20px;
    color: black;
    position: absolute;
    font-size: 30px;
 background-color: white;
 border: 0;
}
.tle{
    height: 0px;
    top: 50px;
    color: black;
    position: absolute;
    font-size: 20px;
 background-color: white;
 border: 0;
}
.links {
    background-color: yellow;
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
    margin: 1rem;
    border-radius: 5px;
    border: none;
    color: black;
    cursor: pointer;
}
btn:hover {
    opacity: 0.9;
}
